.appicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
}

.appicon__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background-color: #FFF;
}

.appicon__icon svg {
    fill: #FFF;
    height: 40px;
}

.appicon__label {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 12px;
    padding-top: 4px;
}