.app-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.app-phone__number {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 8px;
}

@media (min-height: 500px) {
    .app-phone__number {
        font-size: 24px;
        margin-bottom: 16px;
    }
}

.app-phone__numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    grid-gap: 8px;
}

@media (min-height: 500px) {
    .app-phone__numpad {
        grid-gap: 16px;
    }
}

@media (orientation: landscape) {
    .app-phone__numpad {
        display: none;
    }
}

.app-phone-key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #F5F5F5;
    border: 0px;
}

.app-phone-key--cta {
    background-color: #4cd964;
}

.app-phone-key > svg {
    height: 30px;
    fill: #FFF;
}

.app-phone-key__number {
    font-size: 22px;
    height: 25px;
}

.app-phone-key__letters {
    font-size: 10px;
    height: 15px;
}