.app {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    will-change: transform;
    animation-name: fadeInApp;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.app__header {
    padding-top: 32px;
    display: grid;
    width: 100%;
    grid-template-columns: 100px auto 100px;
    background-color: #F5F5F5;
    border-bottom: solid thin #CCC;
}

@keyframes fadeInApp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}