.app {
    display: grid;
    grid-template-rows: min-content auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    will-change: transform;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
}

.app--active {
    pointer-events: auto;
    transform: translateY(0%);
}

.app__header {
    display: block;
    padding-top: 32px;
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: solid thin #CCC;
    box-sizing: border-box;
}

.app__header__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app__header__actions__action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #007aff;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    cursor: pointer;
}

.app__header__actions__action:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.app__header__actions > .app__header__actions__action:last-child {
    justify-content: flex-end;
}

.app__header__title {
    margin: 0px;
    padding: 8px 16px 8px 16px;
}

.app__content {
    position: relative;
}